<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Mostrar mensaje si no hay vehículos -->
  <ion-card *ngIf="vehiculos.length === 0">
    <ion-card-header>
      <ion-card-title>No se han encontrado vehículos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Mostrar los vehículos -->
  <ion-card *ngFor="let v of vehiculos">
    <ion-card-header>
      <ion-card-title>Vehículo: {{ v.marca }} {{ v.modelo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Patente:</strong> {{ v.patente }}</p>
      <p><strong>Año:</strong> {{ v.anio }}</p>
      <p><strong>Color:</strong> {{ v.color }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
