<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #FFE0B2;">
  <!-- Logo de la Aplicación -->
  <ion-img src="assets/img/logo.png" alt="" class="center-image"></ion-img>

  <!-- Formulario de Inicio de Sesión -->
  <ion-card class="login-card">
    <ion-card-content>
      <ion-item>
        <ion-input
          [(ngModel)]="email"
          label="Email"
          type="email"
          placeholder="Ingresa tu email"
          fill="solid"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="password"
          label="Password"
          type="password"
          placeholder="Ingresa tu contraseña"
          fill="solid"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="login()">Login</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Opciones Adicionales -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/crear-usuario']" routerLinkActive="router-Link-Active">
          registrar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button fill="clear" [routerLink]="['/recuperarpass']" routerLinkActive="router-Link-Active">
          recuperar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
