<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Actualizar Estado del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Mostrar la información del viaje -->
      <p><strong>Origen:</strong> {{ viajeSeleccionado?.ubicacion_origen }}</p>
      <p><strong>Destino:</strong> {{ viajeSeleccionado?.ubicacion_destino }}</p>
      <p><strong>Costo:</strong> {{ viajeSeleccionado?.costo }}</p>

      <!-- Selector de Vehículos -->
      <ion-item>
        <ion-label>Seleccionar Vehículo</ion-label>
        <ion-select [(ngModel)]="vehiculoSeleccionado" interface="popover" (ionChange)="handleVehiculoChange($event)">
          <ion-select-option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.id_vehiculo">
            {{ vehiculo.marca }} - {{ vehiculo.modelo }} ({{ vehiculo.patente }})
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Selector del Estado -->
      <ion-item>
        <ion-label>Estado del Viaje</ion-label>
        <ion-select [(ngModel)]="p_id_estado" interface="popover">
          <ion-select-option value="1">En Progreso</ion-select-option>
          <ion-select-option value="2">Completado</ion-select-option>
          <ion-select-option value="3">Cancelado</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Botón para Actualizar -->
      <ion-button expand="full" color="primary" (click)="actualizarViaje()">Actualizar Viaje</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
