<ion-header>
  <ion-toolbar color="primary">
    <!-- Botón de Volver -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="form-card">
    <ion-card-header>
      <ion-card-title>Detalles del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- Formulario para agregar un nuevo viaje -->
            <form>
              <ion-item>
                <ion-label position="floating">Ubicacion de origen</ion-label>
                <ion-input [(ngModel)]="ubicacion_origen" name="conductor" required></ion-input>
              </ion-item>
    
              <ion-item>
                <ion-label position="floating">Ubicacion de destino</ion-label>
                <ion-input [(ngModel)]="ubicacion_destino" name="pasajero" required></ion-input>
              </ion-item>
    
              <ion-item>
                <ion-label position="floating">Costo</ion-label>
                <ion-input [(ngModel)]="costo" name="origen" required></ion-input>
              </ion-item>
    
              <!-- <ion-item>
                <ion-label position="floating">Destino</ion-label>
                <ion-input [(ngModel)]="viaje.destino" name="destino" required></ion-input>
              </ion-item>
    
              <ion-item>
                <ion-label position="floating">Fecha y hora</ion-label>
                <ion-datetime [(ngModel)]="viaje.fechaHora" name="fechaHora" required></ion-datetime>
              </ion-item> -->
              
              <ion-list>
                <ion-item>
                  <ion-select
                    aria-label="Vehiculos"
                    [compareWith]="compareWith"
                    placeholder="Selecciona Vehiculo"
                    (ionChange)="handleChange($event)"
                  >
                    <ion-select-option *ngFor="let u of usuario" [value]="u">{{u.patente}} - {{u.marca}} - {{u.modelo}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
    
              <ion-button (click)="agregarViaje()" expand="full" type="submit" color="medium">Agregar Viaje</ion-button>
            </form>
          </ion-col>
        </ion-row>

