<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #FFE0B2;">
  <!-- Logo de la Aplicación -->
  <ion-img src="assets/img/logo.png" alt="" class="center-image"></ion-img>

  <!-- Formulario de Recuperación -->
  <ion-card class="recover-card">
    <ion-card-content>
      <ion-item>
        <ion-input
          [(ngModel)]="email"
          label="Email"
          type="email"
          placeholder="Ingresa tu email"
          fill="solid"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="recuperar()">Recuperar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
