<ion-header>
  <ion-toolbar color="primary">
    <!-- Botón de Volver -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-title>Tomar Foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Tarjeta para capturar foto -->
  <ion-card class="photo-card">
    <ion-card-header>
      <ion-card-title>Captura una Imagen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="primary" (click)="takePicture()">
        Capturar Imagen
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar imagen capturada -->
  <div class="image-container" *ngIf="imageUrl">
    <ion-card>
      <ion-img
        [src]="imageUrl"
        alt="Foto capturada"
        class="captured-image"
      ></ion-img>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Desarrollado por Nicolas Hernandez</ion-title>
  </ion-toolbar>
</ion-footer>
